<html>
    <head>
        <title>ITs Summer event</title>
    </head>

    <body>

        <div class="collum">
            <div class="card">
            <h3>Thank you for joining {{message}}</h3>
        
            
        </div>
        </div>

      


    </body>
</html>
<style>
    body{
        background-color: rgb(207, 205, 205);
    }
    .column {
  float: left;
  width: 33%;
  margin-bottom: px;
  padding: 0 1px;
  
}

.card {
  box-shadow:  9px 16px 0 rgba(0, 110, 227, 0.669);
  color: rgb(0, 110, 227,0.669);
  background-color:#f1f1f2;
  margin: 250px;}
</style>
